
@import "../../base/global.scss";

@media all and (min-width: 1320px) {

    header {

        .container {
            padding: 16px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            border-bottom: 1px solid #F8E0FB;

            .hamburger-menu-icon{
                display: none;
            }

            .c-item-02{
                svg{
                    width:"152px";
                    height:"40px";
                }
            }

            ul {
                display: flex;
                list-style-type: none;
                gap: 8px;

                li {

                    font-family: 'Space Grotesk', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                    opacity: 0.5;
                }
            }



            ;
        }
    }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
    header {
        height: 76px;
        background-color: #FFF;
  
        .container {
  
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
  
            .c-item-01{
                display: none;
            }

            .c-item-02{
                svg{
                    width:"152px";
                    height:"40px";
                }

            }
  
            .hamburger-menu-icon {
                display: flex;
                position: absolute;
                left: 0;
                top: 26px;
            }
        }
    }
  
  }
  

/* Common xs1, xs2 mobil*/
@media all and (max-width:767px) {
        header{
        height: 64px;
       
        background-color: #FFFFFF;;
       
      .container {
        
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .c-item-01{
            display: none;
          }

          .c-item-02 {

                svg{
                  width: 121px;
                  height: 32px;
                }
          }

          .hamburger-menu-icon {
              display: flex;
              position: absolute;
              left: 0;
              top: 20px;
          }
      }
  }
}





